* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    background: white;
    padding: 50px;
}

html, body {
    height: 100%;
}

a{
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    min-width: 1040px;
    width: 1040px;
    border-top: 6px solid #ffa500;
    border-left: 2px solid #afafaf;
    border-right: 2px solid #afafaf;
    border-bottom: 2px solid #afafaf;
}

header {
    width: 960px;
    height: 150px;
    padding: 40px 40px 0 40px;
}

.logo{
    width: 205px;
    height: 56px;
    float: left;
}

.tagline {
    border-left: 2px solid #cbcbcb;
    margin-left: 235px;
    padding-left: 20px;
}

.tagline h1{
    color: #ffa500;
    font-weight: 100;
    padding-bottom: 15px;
}

.tagline p{
    font-size: 20px;
}

.menu {
    padding: 20px 0 30px 0;
}

.menu ul{
    padding: 10px 0;
    border-bottom: 1px solid #b3b3ba;
    border-top: 1px solid #b3b3ba;
}

.menu ul li{
    list-style-type: none;
    display: inline;
    padding-right: 40px;
}

.menu a{
    color: #a2a2a8;
    font-size: 20px;
    display: inline-block;
}

.menu a:hover{
    color: orange;
}

.menu a:active{
    color: #000000;
}

main{
    width: 960px;
    height: 800px;
    padding: 0 40px 0 40px;
}

.data :nth-child(1){
    padding-bottom: 5px;
    color: #727272;
}

.products{
    width: 460px;
    height: 300px;
    border: 4px double #c0c0c0;
    float: left;
}

.slider{
    width: 460px;
    height: 250px;
    overflow: hidden;
    background-image: url("../image/featured.jpg");
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.products p{
    padding-bottom: 10px;
}

.arrows{
    width: 440px;
    display: inline-flex;
    padding: 10px;
    justify-content: space-around;
}

.arrows p{
    margin-right: 70px;
    font-size: 20px;
    font-weight: bold;
}

.preview{
    float: right;
    width: 460px;
    height: 310px;
    overflow: hidden;
}

.lis_data{
    background-image: url("../image/preview.jpg");
    background-repeat: no-repeat;
    width: 430px;
    height: 120px;
    padding: 80px 0 0 20px;
}

.lis_data :nth-child(n){
    color: #ffffff;
}

.lis_data :nth-child(1){
    font-size: 20px;
}

.lis_data :nth-child(2){
    font-size: 40px;
    width: 350px;
    line-height: normal;
}

.info{
    font-size: 12px;
    font-weight: bold;
}

.more_button{
    clear: both;
    float: right;
    background-image: url("../image/more.png");
    color: white;
    width: 57px;
    height: 15px;
    font-size: 13px;
    position: relative;
}

.more_button p{
    position: absolute;
    left: 12%;
    top: -15%;
}